@inherits LayoutComponentBase

<div class="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="/img/images/logo_03.png">
        </div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

